body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

svg path,
svg polygon,
svg circle {
  transition: fill .2s;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.button {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border: none;
  cursor: pointer;
  padding: 11px 22px;
  padding-bottom: 12px;
  border-radius: 23px;

  transition: background .2s;

  /* background: linear-gradient(rgb(240, 104, 67), rgb(231, 74, 53)); /* from #f26843 to #e74a35 */
  background: -webkit-linear-gradient(#f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(#f26843 0%, #e74a35 100%);
  background: linear-gradient(#f26843 0%, #e74a35 100%);

  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
  /* background: linear-gradient(rgb(245, 134, 105), rgb(236, 111, 94)); /* from #f58669 to #ec6f5e*/
  background: -webkit-linear-gradient(#f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(#f58669 0%, #ec6f5e 100%);
  background: linear-gradient(#f58669 0%, #ec6f5e 100%);
}

.button:active {
  /* background: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%); */
  background: -webkit-linear-gradient(#d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(#d84732 0%, #e1613e 100%);
  background: linear-gradient(#d84732 0%, #e1613e 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}


/* Links */

.link-light {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link-light:hover {
  color: #ffbc9e;
  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.link-light,
.link-dark {
  transition: color .2s, border-bottom .2s;
}

.link-dark {
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.link-dark:hover {
  color: #e84d37;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.container {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}



/* input[type="text"],
input[type="password"],
input[type="email"],
textarea */



.text-input {
  box-sizing: border-box;
  padding: 10px 14px;

  font: inherit;
  font-weight: bold;

  background-color: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  outline: none;

  transition: border-color .2s, box-shadow .2s;
}

.text-input:hover {
  border-color: #9a9a9a;
  box-shadow: 0 0 0 1px #9a9a9a;
}

.text-input:focus {
  border-color: #2e88e4;
  box-shadow: 0 0 0 1px #2e88e4;
}

.text-input::placeholder {
  color: #999999;
  font-weight: normal;
}



/* Header */

.main-nav .container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-form, .login-popup {
  display: none;
}


.main-header {
  padding-top: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-header-logo {
  margin-top: 10px;
}

.site-nav,
.user-nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 38px;
}

.site-nav > li {
  margin-right: 27px;
  /* margin-bottom: 10px; */
}

.user-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}


.site-nav-link {
  position: relative;
  /* display: inline-block; */
  transition: color .2s;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.site-nav-link::before {
  position: absolute;
  z-index: -1;
  content: "";
  cursor: pointer;
  left: -14px;
  right: -14px;
  top: -6px;
  bottom: -6px;
  border-radius: 15px;
  transition: background .2s;
}

.site-nav-link:hover,
.site-nav-link:focus,
.site-nav-link:active,
.has-inner-list:hover .site-nav-link {
  /* padding: 7px 14px; */
  color: #333333;
  border: none;
  /* background-color: #f7f6f3; */
  /* border-radius: 15px; */
}

.site-nav-link:hover::before,
.site-nav-link:focus::before {
  background-color: #f7f6f3;
}

.site-nav-link:active::before,
.user-nav-link:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}


.has-inner-list .site-nav-link:active::before {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-nav-link.current {
  color: #ffffff;
  border-bottom: none;
}

.site-nav-link.current::before {
  background-color: #d07058;
}

.site-nav-link.current:hover {
  color: #333333;
}

.site-nav-link.current:hover::before {
  background-color: #f7f6f3;
}



.catalog-inner-nav {
  display: none;

  font-weight: normal;
  list-style: none;
  padding-left: 0;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.catalog-inner-nav a {
  display: inline-block;
  width: 100%;
  color: #333333;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 21px;
  padding-right: 21px;
}


.catalog-inner-nav li:hover {
  background-color: #fbded7;
}

.catalog-inner-nav li:active {
  background-color: #f6b5a5;
}

.catalog-inner-nav li.current {
  background-color: #d07058;
}

.catalog-inner-nav .new {
  font-weight: bold;
  position: relative;
}

.catalog-inner-nav .new::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #d1d0ce;
  left: 6px;
  right: 6px;
  bottom: 0;
}

/* .site-nav a:hover,
.site-nav a:focus {
  background-color: #f8f7f4;
  color: #333333;
} */


.user-nav > li {
  margin-right: 10px;
}

.user-nav > li:last-of-type {
  margin-right: 0;
}

.user-nav-link {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  color: #ffffff;
  border-radius: 15px;
  padding: 7px 15px;
  padding-top: 6px;
  padding-left: 45px;
  transition: color .2s, background .2s;
}

.user-nav-link svg {
  position: absolute;
  left: 16px;
  top: 6px;
  transition: fill .2s;
}



.user-nav-link:hover polygon,
.user-nav-link:hover path,
.user-nav-link:hover circle,
.user-nav-link:active polygon,
.user-nav-link:active path,
.user-nav-link:active circle,
.user-nav-link:focus polygon,
.user-nav-link:focus circle,
.user-nav-link:focus path {
  fill: #323232;
}

.has-inner:hover .user-nav-link,
.has-inner:focus .user-nav-link,
.user-nav-link.filled {
  color: #323232;
  background-color: #f8f7f4;
}

.search .user-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
}

.search svg {
  position: static;
}



.header-contacts {
  position: absolute;
  right: 25px;;
  top: 73px;
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}

.header-contacts p {
  margin-top: 0;
  margin-bottom: 5px;
}

.header-contacts .tel {
  font-size: 22px;
  color: #ffffff;
}

.nav-inner-item {
  background-color: #f8f7f4;
  color: #323232;
}




/* Slider */

.slider {
  text-align: center;
}

.slider ul {
  padding-left: 0;
  list-style: none;
}

.slider h3 {
  font-weight: bold;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
}

.slider .slide-button {
  font-size: 32px;
  line-height: 44px;
  border-radius: 50px;
  padding: 10px 40px;
}

.slider-control {
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.slider-control:hover,
.slider-control:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-control.current {
  background-color: rgba(255, 255, 255, 1);
  cursor: default;
}

.special-offers {

  font-size: 18px;
  line-height: 22px;
  margin-bottom: 40px;
}

.offer-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  padding-left: 0;
}



.offer-item {
  position: relative;
  box-sizing: border-box;
  width: 560px;
  min-height: 230px;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
}

.offer-item.left {
  background-image: url("../img/background/raspberry.jpg");
}

.offer-item.right {
  background-image: url("../img/background/chocolate.jpg");
}

.offer-item h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 33px;
  line-height: 41px;
  font-weight: bold;

}

.offer-item p {
  margin-top: 0;
}

.special-offer-button {
  position: absolute;
  right: 20px;
  bottom: 25px;
}



/* Catalog item */

.catalog-items {
  margin-bottom: 40px;
}

.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog-item {
  position: relative;
  box-sizing: border-box;
  width: 267px;
  margin-bottom: 40px;
  margin-right: 26px;
  text-align: center;
}



.catalog-item::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -6px;
  right: -13px;
  bottom: -80px;
  left: -13px;


  transition: opacity .2s;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  opacity: 0;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item .hidden-part {
  position: absolute;
  width: 100%;
  height: 0;
  bottom: -63px;
  overflow: hidden;

  transition: height .2s;
}

.catalog-item:hover {
  z-index: 1;
}

.catalog-item:hover::before {
  opacity: 0.2;
  /* background-color: rgba(255, 255, 255, 0.2); */
}

.catalog-item:hover .hidden-part{
  height: auto;
  padding-bottom: 5px;
}

.catalog-item a {
  font-weight: 500;
}

.catalog-item-description {
  position: relative;
}

.catalog-item .img-wrapper {
  height: 267px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 8px;
}


.catalog-item-price {
  position: absolute;
  top: -54px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 30px;
}

.catalog-item-title {
  display: inline;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.title-wrap {
  text-align: center;
}

.catalog-item-button {

}

.hits .catalog-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 61px;
  width: 61px;
  border-radius: 50%;
  background: url("../img/icons/hit.svg") no-repeat center;
}


/* Features */


.features {
  color: #323232;
  background-image: url("../img/background/wafer.jpg");
  padding: 20px;
  padding-bottom: 16px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.features .about {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 8px;
}

.feature-item {
  position: relative;
  box-sizing: border-box;
  width: 540px;
  margin-right: 26px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-left: 57px;
}

.feature-item:nth-child(2n) {
  margin-right: 0;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-repeat: no-repeat;
  background-position: center;
}

.feature-item:first-child::before {
  background-image: url("../img/icons/icecream.svg");
}

.feature-item:nth-child(2)::before {
  background-image: url("../img/icons/cow.svg");
}

.feature-item:nth-child(3)::before {
  background-image: url("../img/icons/leaf.svg");
}

.feature-item:nth-child(4)::before {
  background-image: url("../img/icons/thermometer.svg");
}



.index-collumns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news {
  box-sizing: border-box;
  width: 560px;
  padding: 20px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: 17% 42%;
  background-image: url("../img/background/strawberry.jpg");
  color: #323232;
}

.news h3 {
  max-width: 60%;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

.news b {
  display: block;
  margin-bottom: 8px;
}

.subscribe {
  position: relative;
  box-sizing: border-box;
  width: 560px;
  color: #323232;
  border-radius: 12px;
  padding: 5px;
  background: repeating-linear-gradient(-45deg, #f8f7f4, #f8f7f4 8px, #fe9e90 8px, #fe9e90 16px, #f8f7f4 16px, #f8f7f4 24px, #92cdff 24px, #92cdff 32px);
}

/* .subscribe::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: repeating-linear-gradient(-45deg, #f8f7f4, #f8f7f4 8px, #fe9e90 8px, #fe9e90 16px, #f8f7f4 16px, #f8f7f4 24px, #92cdff 24px, #92cdff 32px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */

.subscribe .background {
  background: #f8f7f4;
  border-radius: 9px;
  padding: 32px 20px;
}

.subscribe p {
  margin-top: 0;
  margin-bottom: 35px;
}

.subscribe-form {
  position: relative;
  padding-right: 145px;
}

.subscribe-button {
  position: absolute;
  right: 0;
  top: 0;
  padding-bottom: 12px;
}

.subscribe-form input {
  box-sizing: border-box;
  width: 100%;
}


.contacts-info {
  box-sizing: border-box;
  width: 302px;
  background-color: #ffffff;
  color: #323232;
  padding: 30px 25px;
  border-radius: 12px;
}

.contacts-info p {
  margin-top: 0;
  margin-bottom: 20px;
}

.contacts-info p:last-of-type {
  margin-bottom: 25px;
}

.contacts {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  position: relative;
  height: 36vw;
}

.contacts .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 62px;
  padding-bottom: 62px;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
}

.contacts .tel {
  color: #323232;
}

.feedback-button {
  box-sizing: border-box;
  width: 100%;
}

.contacts .map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* height: 430px; */
  overflow: hidden;
}

.map img {
  position: absolute;
  width: 100%;
  top: -28%;
}



/* Footer */

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.main-footer ul{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-social {
  max-width: 267px;
}

.footer-social li {
  margin-right: 11px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social ul {
  display: flex;
  align-items: center;
}


.social-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 37px;
  border-radius: 50%;

}

.social-button svg {
  opacity: .8;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

.social-button:hover svg,
.social-button:focus svg,
.social-button:active svg {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
}

.social-button:hover svg,
.social-button:focus svg {
  opacity: 1;
}

.social-button:active path {
  fill: #e9e9e9;
}

.social-button:active svg {
  box-shadow:
    /* inset 0px 2px 1px 0px #888888, */
    0 0 0 3px rgba(255, 255, 255, 0.7);
}

.footer-info {
  font-size: 13px;
  line-height: 18px;
  display: flex;
}

.footer-info .column {
  margin-right: 30px;
}

.footer-info .column:last-child {
  margin-right: 0;
}

.special-info {
  position: relative;
  font-weight: bold;
}

.special-info svg {
  position: absolute;
  left: -22px;
  top: 50%;
  margin-top: -7px;
}

.special-info:hover path,
.special-info:hover:focus path,
.special-info:hover:active path{
  fill: #ffbc9e;
}

.footer-copyright {
  font-size: 12px;
}

.developer-logo-link {
  display: inline-block;
  line-height: 0;
}

.footer-copyright p {
  margin: 0;
}

.modal-feedback .modal-heading {
  font-size: 24px;
  line-height: 28px;
}








/* Catalog */

.cart-preview {
  display: none;

  background-color: #ffffff;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
}

.price-per-kg {
  color: #999999;
}

.cart-preview .total-price {
  font-size: 15px;
  line-height: 18px;
}



/* Breadcrumbs */

.breadcrumbs {
  margin-bottom: 9px;
}

.breadcrumbs ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 22px;
  /* display: inline; */
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";
  position: absolute;
  right: -14px;
  color: #ffffff;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}



h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}



/* Catalog-filter */


.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.catalog-filters {
  margin-bottom: 20px;
}

.catalog-filters fieldset {
  border: none;
  margin-right: 15px;
  margin-bottom: 16px;
  padding: 0;
}

.catalog-filters ul {
  list-style: none;
  /* padding-left: 0; */
}

.catalog-filters li {
  display: inline;
}

.catalog-filters legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-left: 17px;
}

.catalog-filters p {
  margin-top: 0;
  margin-bottom: 0;
}

.filter-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 17px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 9px 17px;
}

.filter-option {
  padding-left: 32px;
  margin-right: 18px;
}

.filter-option label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.input-checkbox + label::before,
.input-radio + label::before,
.input-radio + label::after {
  content: "";
  position: absolute;
  opacity: .8;

  transition: opacity .2s, visibility .1s, background-image .2s;
}

.input-radio + label::before {
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  border: 3px solid #ffffff;
  left: -32px;
  top: -2px;
  border-radius: 50%;
}

.input-radio + label::after {
  visibility: hidden;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  left: -25px;
  top: 5px;
  border-radius: 50%;
}

.input-checkbox + label:hover::before,
.input-radio + label:hover::before,
.input-radio + label:hover::after {
  opacity: 1;
}

.input-checkbox:disabled + label,
.input-checkbox:disabled + label::before,
.input-radio:disabled + label,
.input-radio:disabled + label,
.input-radio:disabled + label::before,
.input-radio:disabled + label::after {
  cursor: auto;
  opacity: .4;
}

.input-radio:checked + label::after {
  visibility: visible;
}

.input-checkbox + label::before{
  height: 20px;
  width: 24px;
  left: -32px;
  top: 0;
  background-image: url("../img/icons/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.input-checkbox:checked + label::before {
  background-image: url("../img/icons/checkbox-on.png");
}


.filter-button {
  margin-top: 22px;
  padding: 9px 27px;

  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 2px #ffffff;

  cursor: pointer;
  transition: color .2s, box-shadow .2s, background .2s;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffffff;
  color: #323232;
  outline: none;
}

.filter-button:active {
  background-color: rgb(237, 237, 237);
  border: none;
  box-shadow: inset 0px 2px 1px 0px #696969;

}


/* Pagination */

.pagination {
  display: flex;
}

.pagination-list {
  list-style: none;
  padding-left: 0;
  margin-left: auto;
}

.pagination-item {
  display: inline-block;
  margin-right: 4px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
}

.pagination-item a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.pagination-item.current a {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
  cursor: default;
}

.pagination-item.prev a::before,
.pagination-item.next a::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 9px;
  background-image: url("../img/icons/arrow-right.png");
  top: 5px;
  left: 9px;
}

.pagination-item.prev a::before {
  transform: rotate(180deg);
}

.pagination-item.disabled a {
  opacity: .2;
}

.pagination-item.disabled a:hover{
  background-color: transparent;
  cursor: default;
}

.catalog-page + .main-footer {
  margin-top: 30px;
}

.catalog-page + .main-footer .container {
  border-top: 1px solid rgba(255, 255, 255, .3);
}






.modal {
  background-color: #f8f7f4;
  color: #323232;
}

.modal textarea {
  resize: none;
}


.modal-feedback {
  position: relative;
  /* position: absolute; */
  width: 477px;
  padding: 18px 25px;
  padding-bottom: 70px;
  border-radius: 9px;

}



.modal-feedback p {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-feedback .text-input {
  width: 267px;
}

.modal-feedback .feedback-text {
  width: 100%;
}

.modal-feedback .button {
  position: absolute;
  bottom: 18px;
  right: 25px;
}


.modal-heading {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 17px;
  width: 17px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.modal-close::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  left: 0;
  top: 0;
  background-image: url("../img/icons/x-big.svg");
  transition: opacity .2s;
}

.modal-close:hover::before {
  opacity: .7;
}
